

#scenario {
	position: absolute;
	width: 98%;
	height: 98%;
	overflow: hidden;
	background: #add1f3;
	animation: mymove 180s infinite;
}

	@keyframes mymove {
	50% {background-color: rgb(4, 4, 63);}
  }

#presentation {
	position: absolute;
	text-align: center;
	width: 98%;
	height: 98%;
	overflow: hidden;
	background-image: url( "backgrownd.jpg");
	background-color: #19612f;
}

#audio{
	position: fixed;
	bottom: 0px;
	left: 10px;
	height: 80px;
	width: 100%;
	z-index: 9999999;
}

#startDiv {
	position: fixed;
	top: 150px;
}


table, th, td {
  border: 4px solid black;
  border-spacing: 1px;
	height: 30px;
	width: 100px;
	border-radius: 10px;
}
th, td {
  text-align: center;
}
table#table1 tr:nth-child(even) {
  background-color: #eee;
}
table#table1 tr:nth-child(odd) {
 background-color: #fff;
}
table#table1 th {
  background-color: #476e9e;
  color: white;
}

.display {
	font-weight: bold;
	font-family: 'Bungee Shade';
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
}

.message--gameOverStopPause {
	font-size: 2.25vw;
	font-family: 'Bungee Shade';
	bottom: 60vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #fff;
}

.displayLow {
	font-weight: bold;
	font-family: 'Bungee Shade';
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.message--lifePenalty {
	font-size: 1.5vw;
	font-family: 'Bungee Shade';
	bottom: 20vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #D2691E;
}

.message--pointWin {
	font-size: 1.5vw;
	font-family: 'Bungee Shade';
	bottom: 15vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #fff;
}

.message--totalScore {
	font-size: 1.5vw;
	font-family: 'Bungee Shade';
	bottom: 50vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #fff;
}

.message--actualLevel {
	font-size: 1.5vw;
	font-family: 'Bungee Shade';
	bottom: 40vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #fff;
}

.gameInstructions{
	font-size: 1.25vw;
	font-weight: bold;
	font-family: 'Forte';
	bottom: 40vh;
	display: block;
	text-indent: 0.3em;
	color: #1f1e16;
}

.startButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c2dc7), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #a8a4ad 5%, #0c440a 100%);
	background:-webkit-linear-gradient(top, #6c2dc7 5%, #284e0a 100%);
	background:-o-linear-gradient(top, #6c2dc7 5%, #0d3d17 100%);
	background:-ms-linear-gradient(top, #6c2dc7 5%, #f62817 100%);
	background:linear-gradient(to bottom, #6c2dc7 5%, #f62817 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#3c3234',GradientType=0);
	background-color:#000000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:20px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.startButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #e55b3c 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #e55b3c 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #e55b3c 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #e55b3c 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #e55b3c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.startButton:active {
	position:top;
	top:1px;
}

.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #6e78a1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c2dc7), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #6c2dc7 5%, #f62817 100%);
	background:-webkit-linear-gradient(top, #6c2dc7 5%, #f62817 100%);
	background:-o-linear-gradient(top, #6c2dc7 5%, #f62817 100%);
	background:-ms-linear-gradient(top, #6c2dc7 5%, #f62817 100%);
	background:linear-gradient(to bottom, #6c2dc7 5%, #f62817 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#3c3234',GradientType=0);
	background-color:#000000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:20px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #e55b3c 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #e55b3c 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #e55b3c 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #e55b3c 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #e55b3c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

input[type=range] {
	position: absolute;
	left: 250px;
	bottom: 25px;
  -webkit-appearance: none;
  max-width: 10rem;
  width: 100%;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  background: #464646;
  background: linear-gradient(
    to bottom right,
    transparent 50%,
    #464646 50%
  );
}

input[type=range]::-moz-range-track {
  height: 0.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  background: #464646;
  background: linear-gradient(
    to bottom right,
    transparent 50%,
    #464646 50%
  );
}

input[type=range]::-ms-track {
  height: 0.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  color: transparent;
  background: #464646;
  border: 0;
  background: linear-gradient(
    to bottom right,
    transparent 50%,
    #464646 50%
  );
}

input[type=range]::-ms-fill-lower {
 background: transparent;
}

/*Audio botton*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 0.5rem;
  background: #ffffff;
  border: 1px solid;
  margin-top: -5px;
  border-radius: 3px;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 7px 3px #12491a;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 0.5rem;
  background: #ffffff;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0;
}

input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0px 0px 7px 3px #f62817;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 0.75rem;
  width: 0.5rem;
  background: #ffffff;
  border: 1px solid;
  margin-top: 0;
  border-radius: 3px;
  cursor: pointer;
}

input[type=range]:focus::-ms-thumb {
  box-shadow: 0px 0px 7px 3px #12351f;
}
